<a href="https://colab.research.google.com/github/Noum3n/ds_bootcamp/blob/master/DS_bootcamp/03_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

### podstawowe struktury danych: series

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

In [2]:
s = pd.Series(data=[1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# w obiekcie typu series do danych jest od razu przypisany index, inaczej niz w np.array
# indeksy można customizować

s = pd.Series(data=[1, 2, 3, 4], index=['a', 'b', 'c', 'd'], name='sample')
s

a    1
b    2
c    3
d    4
Name: sample, dtype: int64

In [7]:
# wstawianie braków
import numpy as np

s = pd.Series(data=[1., np.nan, 3, 4], index=['a', 'b', 'c', 'd'], name='sample')
s

a    1.0
b    NaN
c    3.0
d    4.0
Name: sample, dtype: float64

In [9]:
# tworzenie obiektów series typu bool

s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [6]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200901', periods=10))
s

2020-09-01    10
2020-09-02    11
2020-09-03    12
2020-09-04    13
2020-09-05    14
2020-09-06    15
2020-09-07    16
2020-09-08    17
2020-09-09    18
2020-09-10    19
Freq: D, dtype: int64

In [8]:
list(s.index)

[Timestamp('2020-09-01 00:00:00', freq='D'),
 Timestamp('2020-09-02 00:00:00', freq='D'),
 Timestamp('2020-09-03 00:00:00', freq='D'),
 Timestamp('2020-09-04 00:00:00', freq='D'),
 Timestamp('2020-09-05 00:00:00', freq='D'),
 Timestamp('2020-09-06 00:00:00', freq='D'),
 Timestamp('2020-09-07 00:00:00', freq='D'),
 Timestamp('2020-09-08 00:00:00', freq='D'),
 Timestamp('2020-09-09 00:00:00', freq='D'),
 Timestamp('2020-09-10 00:00:00', freq='D')]

In [1]:
import numpy as np
import pandas as pd

In [10]:
s = pd.Series(data=['java', 'r', 'sql', 'python', 'c++'], name='languages')
s

0      java
1         r
2       sql
3    python
4       c++
Name: languages, dtype: object

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
s.values

array(['java', 'r', 'sql', 'python', 'c++'], dtype=object)

In [12]:
s.dtype

dtype('O')

In [13]:
s.shape

(5,)

In [23]:
price = pd.Series(data={'Apple': 200, 'Amazon': 1000, 'CD_Project': 400, 'KGHM': np.nan})
price

Apple          200.0
Amazon        1000.0
CD_Project     400.0
KGHM             NaN
dtype: float64

In [15]:
# aby wyciąć dane podajemy nazwę obirktu typu series, oraz index jako nazwę albo jego numer
price['CD_Project']

400

In [16]:
price[1]

1000

In [17]:
price.count()

3

In [25]:
price.value_counts(dropna=False)

NaN       1
400.0     1
1000.0    1
200.0     1
dtype: int64

In [19]:
price.sum()

1600

In [20]:
price.max()

1000

In [21]:
price.mean()

533.3333333333334

In [26]:
price.describe()

count       3.000000
mean      533.333333
std       416.333200
min       200.000000
25%       300.000000
50%       400.000000
75%       700.000000
max      1000.000000
dtype: float64

In [27]:
price.nlargest(2)

Amazon        1000.0
CD_Project     400.0
dtype: float64

In [28]:
price.nsmallest(2)

Apple         200.0
CD_Project    400.0
dtype: float64

In [29]:
price.rank()

Apple         1.0
Amazon        3.0
CD_Project    2.0
KGHM          NaN
dtype: float64

In [30]:
price.sort_values()

Apple          200.0
CD_Project     400.0
Amazon        1000.0
KGHM             NaN
dtype: float64

In [31]:
price.sort_values(ascending=False)

Amazon        1000.0
CD_Project     400.0
Apple          200.0
KGHM             NaN
dtype: float64

In [32]:
price.apply(lambda x: x * 3.8)

Apple          760.0
Amazon        3800.0
CD_Project    1520.0
KGHM             NaN
dtype: float64

In [33]:
price_pln = price.apply(lambda x: x * 3.8)

In [34]:
price_pln

Apple          760.0
Amazon        3800.0
CD_Project    1520.0
KGHM             NaN
dtype: float64

### podstawowe struktury danych: pd.DataFrame

In [37]:
df = pd.DataFrame(data=[12, 13, 24], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     13
third      24

In [38]:
df = pd.DataFrame(data={'WIG20': ['PKN Orlen', 'PKO BP'],
                        'mWIG49': ['Amica', 'Playway']})
df

       WIG20   mWIG49
0  PKN Orlen    Amica
1     PKO BP  Playway

In [3]:
df = pd.DataFrame(data=[[12, 13, 24], [23, 25, 26]], index=['first', 'second'], 
                  columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     13     24
second     23     25     26

In [41]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [42]:
df.index

Index(['first', 'second'], dtype='object')

In [43]:
df.values

array([[12, 13, 24],
       [23, 25, 26]])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [45]:
df.describe()

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   17.500000  19.000000  25.000000
std     7.778175   8.485281   1.414214
min    12.000000  13.000000  24.000000
25%    14.750000  16.000000  24.500000
50%    17.500000  19.000000  25.000000
75%    20.250000  22.000000  25.500000
max    23.000000  25.000000  26.000000

In [46]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  17.5  7.778175  12.0  14.75  17.5  20.25  23.0
col_2    2.0  19.0  8.485281  13.0  16.00  19.0  22.00  25.0
col_3    2.0  25.0  1.414214  24.0  24.50  25.0  25.50  26.0

### selekcja kolumn

In [4]:
df

        col_1  col_2  col_3
first      12     13     24
second     23     25     26

In [5]:
# obiekt df składaa się z wielu obiektów series, gdy wytniemy kolumnę
# z df otrzymamy właśnie obiekt series
df['col_1']

first     12
second    23
Name: col_1, dtype: int64

In [6]:
type(df['col_1'])

pandas.core.series.Series

In [7]:
# jeśli chcemy wyciąć kolumnę i uzyskać jednak df to musimy użyć podwójnego nawiasu 
df[['col_1']]

        col_1
first      12
second     23

In [8]:
# zmiana nazwy kolumn
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   12  13  24
second  23  25  26

In [9]:
df.a

first     12
second    23
Name: a, dtype: int64

In [10]:
# tworzac nowa kolumne najpierw przypisujemy nazwe a potem ja definiujemy
df['d'] = df.a + df.b

In [11]:
df

         a   b   c   d
first   12  13  24  25
second  23  25  26  48

In [13]:
df = pd.DataFrame(data=[[12, 13, 24], [23, 25, 26]], index=['first', 'second'], 
                  columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     13     24
second     23     25     26

In [14]:
# mozna tez wycinac metodami loc i iloc, pozwalaja wycinac po nazwie
# aby wyciąć po nazwie uzywamy funkcji loc, jesli po numerze indeksu iloc
df.loc['first']

col_1    12
col_2    13
col_3    24
Name: first, dtype: int64

In [16]:
df.loc['first', 'col_2']

13

In [18]:
# jesli chcemy wyciac cala kolumne
df.loc[:, 'col_2']

first     13
second    25
Name: col_2, dtype: int64

In [15]:
df.iloc[0]

col_1    12
col_2    13
col_3    24
Name: first, dtype: int64

In [17]:
df.iloc[0, 1]

13